integrations/vapi-tool-handler.json
{
  "name": "nola — vapi tool handler",
  "nodes": [
    {
      "id": "n-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "path": "nola-vapi-tool",
        "responseMode": "responseNode",
        "httpMethod": "POST",
        "options": {}
      }
    },
    {
      "id": "handle-all",
      "name": "Code: Handle All Tools",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 0],
      "parameters": {
        "jsCode": "// NOLA — VAPI Tool Handler\n// Handles inbound tool calls from VAPI voice assistant.\n// All responses must be plain text — no markdown, no bullet points.\n// Tool calls must be responded to within ~20 seconds.\n//\n// Required env vars:\n//   VAPI_SERVER_SECRET  (optional — set to validate inbound x-vapi-secret header)\n//   UPS_HOST, UPS_PORT\n//   NETDATA_HOSTS  (format: name1:http://ip:port,name2:http://ip:port)\n//   PROMETHEUS_URL\n//   SSH_ALLOWED_HOSTS, SSH_HOST_<NAME>, SSH_USER_<NAME>\n//   N8N_WEBHOOK_BASE_URL  (used to call run_command sub-webhook)\n\n// ── VAPI Server Secret validation ────────────────────────────────\n// Set VAPI_SERVER_SECRET in .env and configure the same value as\n// \"Server Secret\" in your VAPI assistant settings.\n// VAPI sends it as the x-vapi-secret header on every inbound request.\nconst VAPI_SERVER_SECRET = process.env.VAPI_SERVER_SECRET || '';\nif (VAPI_SERVER_SECRET) {\n  const headers = $input.first().json.headers || {};\n  const incoming = headers['x-vapi-secret'] || '';\n  if (incoming !== VAPI_SERVER_SECRET) {\n    throw new Error('Unauthorized: VAPI secret mismatch');\n  }\n}\n\nconst net  = require('net');\nconst http = require('http');\nconst { URL } = require('url');\n\n// ── Host map from NETDATA_HOSTS env var ───────────────────────────\nconst NETDATA_HOST_MAP = {};\n(process.env.NETDATA_HOSTS || '').split(',').forEach(h => {\n  const colonIdx = h.indexOf(':http');\n  if (colonIdx > 0) {\n    NETDATA_HOST_MAP[h.slice(0, colonIdx).trim().toLowerCase()] = 'http' + h.slice(colonIdx + 1).trim();\n  }\n});\n\nconst UPS_HOST       = process.env.UPS_HOST  || '';\nconst UPS_PORT       = parseInt(process.env.UPS_PORT || '3551');\nconst PROMETHEUS_URL = process.env.PROMETHEUS_URL || '';\nconst RUN_CMD_URL    = (process.env.N8N_WEBHOOK_BASE_URL || 'http://n8n:5678') + '/webhook/nola-run-command';\n\n// ── HTTP helpers ──────────────────────────────────────────────────\nfunction httpGet(url, ms = 8000) {\n  return new Promise((resolve, reject) => {\n    const req = http.get(url, res => {\n      let data = '';\n      res.on('data', c => data += c);\n      res.on('end', () => {\n        try { resolve(JSON.parse(data)); }\n        catch(e) { reject(new Error('JSON parse error: ' + e.message)); }\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(ms, () => { req.destroy(); reject(new Error('timeout')); });\n  });\n}\n\nfunction httpPost(url, body, ms = 20000) {\n  return new Promise((resolve, reject) => {\n    const payload = JSON.stringify(body);\n    const u = new URL(url);\n    const req = http.request({\n      hostname: u.hostname, port: u.port || 80,\n      path: u.pathname + u.search, method: 'POST',\n      headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(payload) }\n    }, res => {\n      let data = '';\n      res.on('data', c => data += c);\n      res.on('end', () => {\n        try { resolve(JSON.parse(data)); }\n        catch(e) { resolve({ raw: data }); }\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(ms, () => { req.destroy(); reject(new Error('timeout')); });\n    req.write(payload);\n    req.end();\n  });\n}\n\n// ── Tool: get_ups_status ──────────────────────────────────────────\nasync function getUpsStatus() {\n  if (!UPS_HOST) return 'UPS host not configured.';\n  const raw = await new Promise((resolve, reject) => {\n    const client = net.createConnection({ host: UPS_HOST, port: UPS_PORT }, () => {\n      const cmd = 'status';\n      const buf = Buffer.alloc(2 + cmd.length);\n      buf.writeUInt16BE(cmd.length, 0);\n      buf.write(cmd, 2);\n      client.write(buf);\n    });\n    let rxBuf = Buffer.alloc(0), chunks = '';\n    client.on('data', data => {\n      rxBuf = Buffer.concat([rxBuf, data]);\n      while (rxBuf.length >= 2) {\n        const len = rxBuf.readUInt16BE(0);\n        if (len === 0) { client.destroy(); resolve(chunks); return; }\n        if (rxBuf.length < 2 + len) break;\n        chunks += rxBuf.slice(2, 2 + len).toString('utf8');\n        rxBuf = rxBuf.slice(2 + len);\n      }\n    });\n    client.on('error', reject);\n    client.setTimeout(5000, () => { client.destroy(); reject(new Error('UPS timeout')); });\n  });\n  const kv = {};\n  for (const line of raw.split('\\n')) {\n    const m = line.match(/^(\\w+)\\s*:\\s*(.+)$/);\n    if (m) kv[m[1]] = m[2].trim();\n  }\n  const name    = kv.UPSNAME  || 'UPS';\n  const status  = kv.STATUS   || 'UNKNOWN';\n  const battery = parseFloat(kv.BCHARGE)  || 0;\n  const load    = parseFloat(kv.LOADPCT)  || 0;\n  const runtime = parseFloat(kv.TIMELEFT) || 0;\n  const voltage = parseFloat(kv.LINEV)    || 0;\n  return `${name}: ${status}. Battery ${battery} percent. Load ${load} percent. Runtime ${runtime.toFixed(0)} minutes. Line voltage ${voltage} volts.`;\n}\n\n// ── Tool: get_netdata_metrics ─────────────────────────────────────\nasync function getNetdataMetrics(host) {\n  const baseUrl = NETDATA_HOST_MAP[host.toLowerCase().trim()] || Object.values(NETDATA_HOST_MAP)[0];\n  if (!baseUrl) return 'No Netdata hosts configured.';\n  function parse(data) {\n    if (!data?.data?.length) return {};\n    const labels = data.labels.slice(1), vals = data.data[0].slice(1), out = {};\n    labels.forEach((l, i) => { out[l] = vals[i]; });\n    return out;\n  }\n  const [cpu, ram, uptime] = await Promise.all([\n    httpGet(`${baseUrl}/api/v1/data?chart=system.cpu&after=-60&points=1&format=json`),\n    httpGet(`${baseUrl}/api/v1/data?chart=system.ram&after=-60&points=1&format=json`),\n    httpGet(`${baseUrl}/api/v1/data?chart=system.uptime&after=-60&points=1&format=json`),\n  ]);\n  const cpuPct = parseFloat(Object.values(parse(cpu)).reduce((a, b) => a + (b || 0), 0).toFixed(1));\n  const ramDims = parse(ram);\n  const ramUsed  = Math.abs(ramDims.used  || ramDims.active || 0);\n  const ramTotal = Object.values(ramDims).reduce((a, b) => a + Math.abs(b || 0), 0);\n  const ramPct   = ramTotal > 0 ? parseFloat((ramUsed / ramTotal * 100).toFixed(1)) : 0;\n  const uptimeDims = parse(uptime);\n  const uptimeSec  = uptimeDims.uptime ?? Object.values(uptimeDims)[0] ?? 0;\n  const uptimeHours = parseFloat((uptimeSec / 3600).toFixed(1));\n  return `${host}: CPU ${cpuPct} percent. RAM ${ramPct} percent used. Uptime ${uptimeHours} hours.`;\n}\n\n// ── Tool: query_prometheus ────────────────────────────────────────\nasync function queryPrometheus(query) {\n  if (!PROMETHEUS_URL) return 'Prometheus URL not configured.';\n  let q = query || 'up';\n  const data = await httpGet(`${PROMETHEUS_URL}/api/v1/query?query=${encodeURIComponent(q)}`);\n  const result = data.data?.result || [];\n  if (result.length === 0) return `No results for: ${q}`;\n  return result.slice(0, 6).map(r => {\n    const m = r.metric || {};\n    const instance = m.instance || m.job || 'unknown';\n    const val = r.value ? r.value[1] : '?';\n    return `${instance}: ${val}`;\n  }).join('. ');\n}\n\n// ── Tool: run_command ─────────────────────────────────────────────\nasync function runCommand(host, command) {\n  // Delegates to the run_command sub-workflow for safety checks + SSH routing\n  const data = await httpPost(RUN_CMD_URL, { host, command }, 20000);\n  return data.output || data.stdout || data.result || (data.error ? `Error: ${data.error}` : JSON.stringify(data).slice(0, 200));\n}\n\n// ── Tool: get_amp_status / control_amp_server ─────────────────────\nasync function controlAmpServer(action, server) {\n  const AMP_HOST = process.env.AMP_HOST;\n  const AMP_PORT = parseInt(process.env.AMP_PORT || '8080');\n  const AMP_USER = process.env.AMP_USER || 'admin';\n  const AMP_PASS = process.env.AMP_PASSWORD || '';\n  if (!AMP_HOST) return 'AMP game panel not configured. Set AMP_HOST, AMP_PORT, AMP_USER, AMP_PASSWORD.';\n\n  function ampPost(path, body, timeout = 20000) {\n    return new Promise((resolve, reject) => {\n      const payload = JSON.stringify(body);\n      const req = http.request({\n        hostname: AMP_HOST, port: AMP_PORT,\n        path: `/API/${path}`, method: 'POST',\n        headers: { 'Content-Type': 'application/json', 'Accept': 'application/json', 'Content-Length': Buffer.byteLength(payload) }\n      }, res => {\n        let data = '';\n        res.on('data', c => data += c);\n        res.on('end', () => { try { resolve(JSON.parse(data)); } catch(e) { resolve({ raw: data }); } });\n      });\n      req.on('error', reject);\n      req.setTimeout(timeout, () => { req.destroy(); reject(new Error('AMP timeout')); });\n      req.write(payload); req.end();\n    });\n  }\n\n  const login = await ampPost('Core/Login', { username: AMP_USER, password: AMP_PASS, token: '', rememberMe: false });\n  const sessionID = login.sessionID;\n  if (!sessionID) return 'AMP login failed. Check AMP_USER and AMP_PASSWORD.';\n\n  const instancesResp = await ampPost('ADSModule/GetInstances', { SESSIONID: sessionID });\n  const instances = [];\n  for (const t of (Array.isArray(instancesResp) ? instancesResp : []))\n    for (const i of (t.AvailableInstances || []))\n      if (i.Module !== 'ADS') instances.push(i);\n\n  const act = (action || 'status').toLowerCase();\n  const q   = (server || '').toLowerCase().replace(/[^a-z0-9]/g, '');\n\n  if (act === 'status' || act === 'list' || !q) {\n    return 'Game servers: ' + instances.map(i =>\n      `${i.FriendlyName}: ${i.Running ? `running with ${i.Metrics?.Active_Users?.RawValue ?? 0} players` : 'stopped'}`\n    ).join('. ');\n  }\n\n  const inst = instances.find(i => {\n    const n = i.InstanceName.toLowerCase().replace(/[^a-z0-9]/g, '');\n    const f = i.FriendlyName.toLowerCase().replace(/[^a-z0-9]/g, '');\n    return n.includes(q) || f.includes(q);\n  });\n  if (!inst) return `Server not found: ${server}. Available: ${instances.map(i => i.FriendlyName).join(', ')}.`;\n\n  const endpoints = { start: 'ADSModule/StartInstance', stop: 'ADSModule/StopInstance', restart: 'ADSModule/RestartInstance' };\n  if (!endpoints[act]) return `Unknown action: ${act}. Use start, stop, restart, or status.`;\n\n  try {\n    await ampPost(endpoints[act], { SESSIONID: sessionID, InstanceName: inst.InstanceName }, act === 'start' ? 45000 : 15000);\n  } catch(e) {\n    return act === 'start' ? `${inst.FriendlyName}: starting up, this may take a moment.` : `Error: ${e.message}`;\n  }\n  return `${inst.FriendlyName}: ${act} complete.`;\n}\n\n// ── Dispatch all tool calls ───────────────────────────────────────\nconst body = $input.first().json.body || $input.first().json;\nconst msg  = body.message || body;\nconst toolCallList = msg.toolCallList || msg.tool_calls || [];\n\nif (toolCallList.length === 0) {\n  return [{ json: { results: [] } }];\n}\n\nconst results = await Promise.all(toolCallList.map(async (toolCall) => {\n  const toolCallId = toolCall.id;\n  const toolName   = toolCall.function?.name || toolCall.name;\n  let toolArgs = {};\n  try { toolArgs = JSON.parse(toolCall.function?.arguments || '{}'); } catch(e) {}\n\n  let result;\n  try {\n    switch (toolName) {\n      case 'get_ups_status':\n        result = await getUpsStatus();\n        break;\n      case 'get_netdata_metrics':\n        result = await getNetdataMetrics(toolArgs.host || Object.keys(NETDATA_HOST_MAP)[0] || 'host1');\n        break;\n      case 'query_prometheus':\n        result = await queryPrometheus(toolArgs.query || 'up');\n        break;\n      case 'run_command':\n        result = await runCommand(toolArgs.host, toolArgs.command);\n        break;\n      case 'control_amp_server':\n      case 'get_amp_status':\n        result = await controlAmpServer(toolArgs.action || 'status', toolArgs.server || '');\n        break;\n      default:\n        result = `Unknown tool: ${toolName}`;\n    }\n  } catch(e) {\n    result = `${toolName} error: ${e.message}`;\n  }\n\n  return { toolCallId, result: String(result) };\n}));\n\nreturn [{ json: { results } }];\n"
      }
    },
    {
      "id": "n-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [600, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Code: Handle All Tools", "type": "main", "index": 0 }]
      ]
    },
    "Code: Handle All Tools": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["nola", "vapi", "integration"]
}
